*{
  margin: 0px;
  padding: 0px;
}
body{
  background-color: black;
  overflow: hidden; 
}


.anim {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.anim div{
  position: absolute;
  top: calc((50% - 1500px));
  left: calc((50% - 1500px));
  width: 3000px;
  height: 3000px;
  border-radius: 100%;
  color: white;
  transform: scale(0);
  background:  radial-gradient(circle at top left, rgba(0, 0, 0, 1) 41%,rgba(0, 0, 0, .7) 42%, rgba(0, 0, 0, 0) 45%, rgba(0, 0, 0, 1) 65%),  radial-gradient(circle at bottom left, rgba(0, 0, 0, 1) 36%, rgba(0, 0, 0, .9) 37%, rgba(0, 0, 0, .5) 45%, rgba(0, 0, 0, .7) 50%,  rgba(0, 0, 0) 57%), radial-gradient(circle at bottom center, rgba(0, 0, 0, 1) 32%, rgba(0, 0, 0, .1) 36%, rgba(0, 0, 0, 0) 37%), url(oeil9.jpg) no-repeat center fixed;

}
  
.anim div:nth-child(1) { border: 40px solid blue; animation: big .4s 0s forwards;}
.anim div:nth-child(2) { border: 40px solid blue; animation: big .4s .4s forwards;}

@keyframes big {
  0% {  transform: scale(0);}
  100% {transform: scale(1);}
}

.bigcontainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  animation: end 3s .8s forwards;

}

@keyframes end {
  10% { opacity: .01;}
  20% { opacity: .02;}
  30% { opacity: .03;}
  40% { opacity: .04;}
  50% { opacity: .05;}
  60% { opacity: .1;}
  70% { opacity: .2;}
  80% { opacity: .3;}
  90% { opacity: .5;}
  100% { opacity: 1;}
}

.menucontainer {
  top: 0px;
  left: 0px;
}

.txt {
  position: absolute;
  top: calc((50% - 100px));
  left: calc((50% - 350px));
  height:100px;
  font-size: 70px;
  color: #fff;
  line-height: 100px;
  text-align: center;  
}
 
.hi > #hello{
  display:inline-block;
}

.hi > #bjr{
  display:none;
}

.hi:hover > #hello {
  display:none;
}

.hi:hover > #bjr{
  display:inline-block;
  color:blue;
}

.nm > #name{
  display:inline-block;
}

.nm > #nom{
  display:none;
}

.nm:hover > #name {
  display:none;
}

.nm:hover > #nom{
  display:inline-block;
  color: blue;
}

.welcome > #wlcm{
  display:inline-block;
}

.welcome > #bnvn{
  display:none;
}

.welcome:hover > #wlcm {
  display:none;
}

.welcome:hover > #bnvn{
  display:inline-block;
  color: blue;
}




@media screen and (max-width: 980px){
  body{
    overflow: scroll;
  }
  
  .anim{
    display:none;
  }
  
  .txt{
    position : absolute;
    left:5%;
    top:20%;
    height:80px;
    font-size: 60px;
    text-align: left;
  }

  .bigcontainer {
  animation: end 0s 0s forwards;
  }
}
