*{
    margin: 0px;
    padding: 0px;
}

nav{
    width: 100%;
    margin: o auto;
    position: sticky;
    top: 0px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,45484d+100&1+0,0.8+80,0+100 */
background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(55,58,62,0.8) 80%, rgba(69,72,77,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(55,58,62,0.8) 80%,rgba(69,72,77,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(55,58,62,0.8) 80%,rgba(69,72,77,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#0045484d',GradientType=0 ); /* IE6-9 */
}

nav ul{
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
} 

 nav ul li{
    flex: 1 1 auto;
    text-align: center;
}



 nav a{
    display: block;
    text-decoration: none;
    color: blue;
    padding: 30px 0px;
    font-size: 16px;
    font-weight: bold;
} 

nav a:hover{
    color: red;  
    border-bottom: 2px solid green;  
}

 ul li:nth-child(1){
    margin: 10px;
} 

ul li:nth-child(4){
    margin-right: 10px;
} 



@media screen and (min-width: 980px){
    

    nav a:hover{
    border-bottom: 2px solid green;
    }

    nav a{
        padding: 30px 0px;
        font-size: 40px;
    } 

    ul li:nth-child(1){
        padding: 30px;
        margin: 0 auto; 
    } 

}